* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #E3E7ED;
}
h1 {
    margin-bottom: 20px;
}
input {
    font-size: 14px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #F2F4F5;
}
button {
    padding: 10px;
    font-size: 14px;
    outline: none;
    color: #D9F2FF;
    background-color: rgb(66, 94, 253);
    border: none;
}
button:hover {
    background-color: rgb(87, 112, 255);
    
}
button:active {
    background-color: #70A9FF;
}

.container {
    padding: 20px;
    text-align: center;
    width: 70%;
    height: 100%;
    margin: 20px auto;
    background-color: #FFFFFF;
    border-radius: 3%;
}

.books {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}